In [ ]:
import pandas as pd

data = {
    'fecha': ['2025-01', '2025-01', '2025-02', '2025-02'],
    'producto': ['Coca-cola', 'Pepsi', 'Coca-cola', 'Pepsi'],
    'ventas': [100, 150, 120, 170]
}

df = pd.DataFrame(data)
df

In [ ]:
tabla = df.pivot(index='fecha', columns='producto', values='ventas')
tabla

In [ ]:
import pandas as pd

data = {
    'mes': ['Enero', 'Enero', 'Enero', 'Febrero', 'Febrero', 'Febrero'],
    'producto': ['Coca-Cola', 'Coca-Cola', 'Pepsi', 'Coca-Cola', 'Coca-Cola', 'Pepsi'],
    'tienda': ['Exito', 'Exito', 'Exito', 'Exito', 'Exito', 'Exito'],
    'ventas': [100, 150, 200, 130, 170, 180]
}

df = pd.DataFrame(data)
df

In [ ]:
df.pivot(index='mes', columns='producto', values='ventas')

In [ ]:
tabla = df.pivot_table(
    index='mes',
    columns='producto',
    values='ventas',
    aggfunc='sum'  # También puede ser 'mean', 'count', etc.
)
tabla

In [ ]:
import pandas as pd

data = {
    'genero': ['F', 'M', 'F', 'M', 'F', 'F', 'M', 'M'],
    'compra': ['Sí', 'No', 'Sí', 'Sí', 'No', 'Sí', 'No', 'No']
}

df = pd.DataFrame(data)
df

In [ ]:
contingencia=pd.crosstab(df['genero'],df['compra'])
contingencia

In [ ]:
import pandas as pd

data = {
    'genero': ['F', 'M', 'F', 'M', 'F', 'F', 'M', 'M'],
    'compra': ['Sí', 'No', 'Sí', 'Sí', 'No', 'Sí', 'No', 'No'],
    'edad_grupo': ['18-25', '18-25', '26-35', '26-35', '26-35', '18-25', '18-25', '26-35']
}

df = pd.DataFrame(data)
df

In [ ]:
tabla = pd.crosstab(
    index=[df['genero'], df['edad_grupo']],
    columns=df['compra'],
    margins=True  # Para incluir totales
)

print(tabla)