In [1]:
import kagglehub
from kagglehub import KaggleDatasetAdapter

file_path = "sgdata.csv"

df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "aldol07/socioeconomic-factors-and-income-dataset",
  file_path,
)

print("First 5 records:", df.head())

<ipython-input-1-e781481cf652>:10: DeprecationWarning: load_dataset is deprecated and will be removed in future version.
  df = kagglehub.load_dataset(

First 5 records:           ID  Sex                                     Marital status  Age  \
0  100000001    0                                             single   67
1  100000002    1  non-single (divorced / separated / married / w...   22
2  100000003    0                                             single   49
3  100000004    0                                             single   45
4  100000005    0                                             single   53

     Education  Income                   Occupation  Settlement size
0   university  124670  skilled employee / official                2
1  high school  150773  skilled employee / official                2
2  high school   89210       unemployed / unskilled                0
3  high school  171565  skilled employee / official                1
4  high school  149031  skilled employee / official                1